.settings {
    width: 95%;
    justify-content: space-between;
    padding: 20px;

}
.settings-header {
    text-align: vertical;
    margin-bottom: 8px; 
    margin-top: 2px;
}
#profile-image{
    height:18%;
    width :18%;    
}

hr {
    border: 1px solid grey; 
}

.settings-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: flex-start;
}

.account-settings, .security-settings {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: #fff;     
}

#family-name, #email, #Password, #location, #Current-Password, #New-Password, #Confirm-Password, input[type="checkbox"]{
    margin: 10px;
    padding: 10px;
    display: block;
    width: calc(100% - 22px);
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input[type="checkbox"] {
    width: 20px; 
    height: 20px; 
    margin-right: 10px;
    cursor: pointer;
   
}

.notifications-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
}

input[type="checkbox"] {
    width: 30px; 
    height: 30px; 
    cursor: pointer;
}

label {
    display: flex;
    align-items: center; 
    margin-bottom: 10px; 
}

#Discard-button {
    background-color: White;
    border: 1px solid;
    margin-Left:100px;
}
button {
    padding: 12px 24px;
    background-color: #90EE90;
    color: Black;
    border: none;
    cursor: pointer;
    font-size: 16px; 
    border-radius: 4px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
}
.change-password-button {
    min-width: 760px; 
    background-color: #90EE90; 
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    padding: 12px 24px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
#save-button {
    min-width: 360px;
    margin-Left: 40px;
}
#update-button {
    min-width: 260px;
    margin-Left: 240px;
}

