.itemButton{
    color: var(--text-color);
    width: 90%;
    height: 8%;
    margin: 5% 5% 1%;
    margin-top: 20px;
    background-color: var(--selecteddivs-color);
    overflow: hidden;
    display: flex;
    align-items: center;
}

.itemCardContainer{
    width: 100%;
    height: 100%;
}


.itemButton p{
    margin-left: 20px;
}

.itemButton img{
    height:25px;
}

.addItemForm{

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardTable{
    color:var(--text-color);
    padding: 20px;
    font-size: 2.5vh;
}

.cardTitle{
    color:var(--text-color);
    text-align: center;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
}

.cardContent {
    width: 100%;
    height: 85%;
    display: flex;
    position: relative; 
}

.cardContent p {
    padding: 10px;
    color: var(--text-color);
}

.submitEditButton {
    position: absolute;
    bottom: 0; 
    right:0;
    height: 10%;
    width: 40%;
    margin-right: 10px; 
    margin-bottom: 10px; 
    display: flex;
    overflow: hidden;
}

.submitRemoveButton {
    position: absolute;
    bottom: 0; 
    left:0;
    height: 10%;
    width: 40%;
    margin-left: 10px; 
    margin-bottom: 10px; 
    display: flex;
    overflow: hidden;
}

.submitRemoveButton button{
    height: 100%;
    width: 100%;
    background-color: rgb(226, 142, 142);
    border: none;
    cursor: pointer;
}


.submitEditButton input{
    cursor: pointer;
    height: 100%;
    width: 100%;
    background-color: rgb(137, 185, 137);
    border: none;
}