.itemButton{
    color: black;
    width: 90%;
    height: 8%;
    margin: 5% 5% 1%;
    margin-top: 20px;
    background-color: #C9C5BF;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.itemCardContainer{
    width: 100%;
    height: 100%;
}


.itemButton p{
    margin-left: 20px;
}

.itemButton img{
    height:25px;
}

.addItemForm{

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardTitle{
    color:white;
    text-align: center;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

.cardContent{
    width: 100%;
    height: 85%;
}
.cardContent p {
    padding:10px;
    color: white;
    font-size: x-large;
}