.member{
    width: 100%;
    height: 100%;
    background-color: aqua;
}
.fridge{
    width: 100%;
    height: 100%;
    background-color: red;
}
.freezer{
    width: 100%;
    height: 100%;
    background-color: black;
}