.memberListContainer{
    height: 100%;
    width: 25%;
    overflow: hidden;
    display: flex;
    text-align: center;
    align-items: center;
}

.memberListHolder{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    overflow: hidden;
}

.memberHolder{
    margin-top: 3%;
    color: var(--text-color);
    cursor: pointer;
    height: 20%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: white;
}

.memberHolder img{
    width: 25%;
}

.memberHolder p {
    font-size: 2vh;
}

.memberHolder:hover{
    background-color: #677B79;
}

.memberContentContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.memberContent{
    width: 95%;
    height: 90%;
    background-color: white;
    color: black;
}

.addMemberButtonWrapper{
    margin-top: 3%;
    width: 70%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 180, 180);
    border-radius: 5px;
    cursor: pointer;
}

.addMemberButton img{
    height: 5vh;
}

.addMemberButton p{
    font-size: 2vh;
}

.submitAddMemberWrapper{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submitAddMemberWrapper form{
    width: 90%;
    height: 80%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.submitAddMemberWrapper input{
    width: 95%;
    height: 40%;
}

#memberAddSubmit{
    background-color: #dcffdc;
    border: none;
    position: absolute;
    bottom:0;
    width: 100%;
    height: 30%;
}

/* Member js */
.memberContentData{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;

}

.topBar{
    position: relative;
    width: 100%;
    height: 30%;
}


.styleBar{
    width: 100%;
    background-color: #00271d;
    height: 60%;
}

.memberName{
    display: flex;
    position: absolute;
    left:13%;
    font-size: 4vh;
    font-weight: bold;
    color:black;
}

.memberContentSection{
    height: 100%;
    width: 100%;
    display: flex;
}

.editNavBar{
    height: 100%;
    width: 20%;
    color:var(--text-color);

}

.editNavBar h2{
    margin-left: 10%;
    font-size: 3.5vh;
    color:black;
    margin-bottom: 20%;
}

.editNavBar p{
    margin-left: 10%;
    font-size: 2vh;
    cursor: pointer;
    color: rgb(17, 46, 21);
}

.editNavBar div{
    width: 100%;
    height: 10%;
}

.editSelectionWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editSelection{
    width: 80%;
    height: 90%;  
    background-color: #cbd4d1;
    text-align: center;
}

.editSelection h1{
    margin-top: 3%;
    color:var(--text-color);
    font-size: 4vh;
    margin-bottom: 2%;
}


.choosenEdit{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choosenEdit p{
    font-size: 2vh;
}

.memberProfileSettings{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.memberProfileSettings form{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;  
}

.memberProfileSettings table{
    height: 90%;
    width: 100%;
    text-align: left;
    margin-left: 5%;
    font-size: 2vh;
}

.memberProfileSettings input{
    height: 50%;
    width: 80%;

}

.memberProfileSettings button{
    height: 60%;
    width: 40%;
    margin-bottom: 1%;
    background-color: rgb(193, 255, 193);
    border: none;
    cursor: pointer;
}

.memberContentData img{
    top: 30%;   
    left: 4vh; 
    height: 12vh;
    position: absolute;
}

.editFormLayout{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.editFormLayout input{
    margin-top: 3%;
    height: 13%;
}

.editFormLayout button{

    margin-top: 5%;
    height: 13%;
}

.memberHolder.selected {
    background-color: #ebfdec; 
}

.currentDetails{
    width: 100%;
    height: 20%;
}

.changeProfilePictureWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.currentProfile{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.currentProfile img{
    position: relative;
    top:0;
    left:0;
    
}

.selectionIcon{
    width: 100%;
    height: 60%;
    display: flex;
    position: relative;
    margin-top: 5%;
    
}

.selectionIcon img{
    position: relative;
    width: 10%;
    height: 40%;
    left:0;
    cursor: pointer;
    margin-left: 6%;
}

.selectionIcon img:hover{
    scale: 1.1;
}
