.memberListContainer{
    height: 100%;
    width: 22%;
    overflow: hidden;
}

.memberListHolder{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    overflow: hidden;
}

.memberHolder{
    margin-top: 3%;
    color: var(--text-color);
    cursor: pointer;
    height: 18%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.memberHolder img{
    width: 40%;
}
.memberHolder p {
    font-size: 2vh;
}

.memberHolder:hover{
    background-color: #677B79;
}

.memberContentContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.memberContent{
    width: 95%;
    height: 90%;
    background-color: var(--member-color);
    color: var(--text-color);
}

.addMemberButtonWrapper{
    margin-top: 20px;
    width: 60%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
}

/* Member js */
.memberContentData{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);

}

.topBar{
    position: relative;
    width: 100%;
    height: 30%;
}


.styleBar{
    width: 100%;
    background-color: var(--searchbar-color);
    height: 60%;
}

.memberName{
    display: flex;
    position: absolute;
    left:13%;
    font-size: 4vh;
    font-weight: bold;
    color:white;
}

.memberContentSection{
    height: 100%;
    width: 100%;
    display: flex;
}

.editNavBar{
    height: 100%;
    width: 20%;
    color:var(--text-color);

}

.editNavBar h2{
    margin-left: 10%;
    font-size: 3.5vh;
    color:white;
}

.editNavBar p{
    margin-left: 10%;
    font-size: 2vh;
    cursor: pointer;
}

.editNavBar div{
    width: 100%;
    height: 10%;
}

.editSelectionWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editSelection{
    width: 80%;
    height: 90%;  
    background-color: var(--sidebar-color);
    text-align: center;
}

.editSelection h1{
    color:var(--text-color);
    font-size: 4vh;
}


.choosenEdit{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choosenEdit p{
    font-size: 2vh;
}

.memberProfileSettings{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.memberProfileSettings form{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;  
}

.memberProfileSettings table{
    height: 90%;
    width: 100%;
    text-align: left;
    margin-left: 5%;
    font-size: 2vh;
}

.memberProfileSettings input{
    height: 50%;
    width: 80%;

}

.memberProfileSettings button{
    height: 60%;
    width: 40%;
    margin-bottom: 1%;
    background-color: rgb(193, 255, 193);
    border: none;
    cursor: pointer;
}

.memberContentData img{
    top: 22%;   
    left: 4vh; 
    width: 10vh;
    height: 10vh;
    position: absolute;
}

.editFormLayout{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.editFormLayout input{
    margin-top: 3%;
    height: 13%;
}

.editFormLayout button{

    margin-top: 5%;
    height: 13%;
}

.memberHolder.selected {
    border: 2px solid black;
    background-color: #7d8382; 
}

.currentDetails{
    width: 100%;
    height: 20%;
}