h1{
    margin: 0;
}

.leftSides{
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rightSides{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* MEAL RECORD */
.mealRecordWrapper{
    background-color: white;
    height: 50%;
    width: 95%;
    border-radius: 1vh;
}

.recordTopBar{
    height: 13%;
    width: 100%;
    align-items: center;
    display: flex;
    position: relative;
}
.recordTopBar p{
    margin-left: 2%;
    font-size: 2.5vh;
    font-weight: bold;
    color: rgb(0, 56, 0);
}


.recordTopBarNoti{
    height: 17%;
    width: 100%;
    align-items: center;
    display: flex;
    position: relative;
}
.recordTopBarNoti p{
    margin-left: 2%;
    font-size: 2.5vh;
    font-weight: bold;
    color: rgb(0, 56, 0);
}

.memberSelectors{
    border: 1px solid rgb(170, 170, 170);
    width: 10%;
    border-radius: .5vh;
    height: 50%;
    position: absolute;
    right: 0;
    margin-right: 3%;
    display: flex;
    align-items: center;
}

.memberSelectors p{
    border-radius: 2vh;
    font-size: 1.4vh;
    color:rgb(136, 136, 136);
    padding-left: 5%;
}

.directional_bar{
    height: 6%;
    width: 100%;
    background-color: rgb(219, 219, 219);
}
.directional_bar table{
    width: 100%;
    font-size: 1.5vh;
    font-weight: bold;
}
.directional_bar td:nth-child(1){
    width: 35%;
    padding-left: 2%;
}
.directional_bar td:nth-child(2),
.directional_bar td:nth-child(3),
.directional_bar td:nth-child(4){
    width: 10%;
}

.directional_bar td:nth-child(5){
    text-align: end;
    width: 30%;
    padding-right: 2%;
}



/* NOTI RECORD */
.notificationWrapper{
    margin-top: 2%;
    background-color: white;
    height: 41%;
    width: 95%;
    border-radius: 1vh;
}


.directional_bar_noti{
    height: 7%;
    width: 100%;
    background-color: rgb(219, 219, 219);
}
.directional_bar_noti table{
    width: 100%;
    font-size: 1.5vh;
    font-weight: bold;
}
.directional_bar_noti td:nth-child(1){
    width: 40%;
    padding-left: 2%;
}
.directional_bar_noti td:nth-child(2){
    width: 30%;
}

.directional_bar_noti td:nth-child(3){
    width: 30%;
}



/* FOR NUTRI */
.nutritionWrapper{
    background-color: rgb(243, 243, 243);
    height: 62%;
    width: 93%;
    border-radius: 1vh;
    position: relative;
}

.rightTopBar{
    height: 10%;
    width: 100%;
    align-items: center;
    display: flex;
}

.rightTopBarItem{
    height: 20%;
    width: 100%;
    align-items: center;
    display: flex;
}

.rightTopBarItem p{
    margin-left: 5%;
    font-size: 2.5vh;
    font-weight: bold;
    color: rgb(0, 56, 0);
}

.rightTopBar p{
    margin-left: 5%;
    font-size: 2.5vh;
    font-weight: bold;
    color: rgb(0, 56, 0);
}
.nutritionContents{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nutritionMember{
    background-color: white;
    margin-top: 2%;
    height: 15%;
    width: 95%;
    border-radius: 1vh;
    display: flex;
    align-items: center;
}
.nutritionMember span{
    position: absolute;
    right:0;
    margin-right: 3%;
}
.nutritionMember p{
    width: 100%;
   font-size: 2vh;
   font-weight: bold;
   margin-left: 1vh;
   position: relative;
}

.nutIcon{
    height: 4vh;
    margin-left: 1vh;
}

/* ITEM */
.itemsWrapper{
    margin-top: 5%;
    background-color: white;
    height: 30%;
    width: 93%;
    border-radius: 1vh;
}