html, body, #root, .wrapper {
    height:100%;
    font-family: 'Figtree', sans-serif;
  }

p {
    margin: 0px;
    padding:0px;
    font-family: 'Figtree', sans-serif;
}

.admin{
    height: 100%;
    width: 100%;
    background-color: rgb(9, 68, 41);
    display: flex;
    justify-content: center;
}

.userContainer{
    height: 100%;
    width: 55%;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
}

.adminTopWrapper{

    width: 100%;
    height: 10%;
    background-image: url(./components/assets/testbck.png);
    position: relative;
    z-index: 1;

}

.logoutButton{
    position: absolute;
    height: 50%;
    width: 3%;
    right:0;
    bottom: 0;
    margin-right: 1%;
}

.logoutButton img{
    width: 100%;
}

.userContent{

    background-color: rgb(233, 233, 233);
    height: 80%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.userOption{
    background-color: white;
    height: 7%;
    width: 100%;
    border: .5px solid black;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.expandedUser{
    background-color: rgb(245, 255, 240);
    margin-bottom: 1%;
    border: 1px solid black;
}

.expandedUser p{
    margin-bottom: 1%;
    height: 2.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.editable-variables{
    background-color: rgb(245, 255, 240);
}
.editable-variables p{
    height: 2.5vh;
}

.userArrays{
    cursor: pointer;
    background-color: rgb(245, 255, 240);
}

#arrayName{
    font-weight: bold;
}

.uploadedImages{
    position: absolute;
    bottom: 0;
    margin-bottom: 2%;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}

#uploadImageWidget{
    width: 100%;
    background-color: green;
    width: auto;
    padding: .5vh;
    border-radius: 1vh;
}

.areaForImages{
    height: 32%;
    width: 80%;
    margin-left: 10%;
    background-color: white;
    bottom: 0;
    margin-bottom: 7%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    position: relative;
    
}

.areaForImages p{
    display: flex;
    align-items: center;
}

#thumbnail{
    width: 4vh;
    height: 4vh;
    margin-right: 2vh;
}