body, html {
  margin: 0;
  font-family: 'Rokkitt', serif;
}

.App{
  background-color: rgb(235, 235, 235);
  display: flex; /* Use flexbox */
  justify-content: center; /* Center contents horizontally */
  align-items: center; /* Center contents vertically */
  height: 100vh;
}

.functionWrapper{
  background-color: white;
  height: 70vh;
  width: 80%;
  border: 1px solid rgb(161, 161, 161);
  overflow: hidden;
  
}

.navBarWrapper{
  margin:0;
  height: 9vh;
  background-color: rgb(255, 255, 255);
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  border-bottom:1px solid rgb(161, 161, 161);
  padding: 0 1rem;
  
  
}
.navBarWrapper div{
  margin:0;
  height: 100%;
  background-color: rgb(255, 255, 255);
  width: 20vh;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.navBarWrapper .buttonWrapper div:hover{
  background-color: green;
  cursor: pointer;
}
.navBarWrapper .buttonWrapper div{
  width: 20vh;
  background-color: rgb(255, 255, 255);
}

.navBarWrapper .appName{
  background-color: rgb(255, 255, 255);
  width: auto;
  left: 0;
}

.contentWrapper{
  position: relative;
  height: 100%;
}
