
html, body, #root, .wrapper {
    height:100%;
    font-family: 'Figtree', sans-serif;
  }

p {
    margin: 0px;
    padding:0px;
    font-family: 'Figtree', sans-serif;
}

/* Light Theme */
:root {
    --background-color: #65737E;
    --sidebar-color: #4F5B66;
    --sidebardiv-color: #A7ADBA;
    --sidebarchild-color: #C0C5CE;
    --searchbar-color: #343D46;
    --text-color: black;
    --fridgecontent-color: #4F5B66;
    --selecteddivs-color: #C9C5BF;
    --card-color: #A7ADBA;
    --member-color: #4F5B66;

  }
  
  /* Dark theme */
  .dark-theme {
    --background-color: #373737 ;
    --sidebar-color: #1F1F1F;
    --sidebardiv-color: #171717;
    --sidebarchild-color: #3A3A3A;
    --searchbar-color: #242424;
    --text-color: white;
    --fridgecontent-color: #272727;
    --selecteddivs-color: #656464;
    --card-color: #656464;
    --member-color: #2E2E2E;

}

.themeChanger{
    height: 50%;
    margin-left: 10px;
    cursor: pointer;
    position: absolute;
    right:0;
    margin-right: 1%;
}

.wrapper{
background-color: rgb(230, 230, 230);
height: 100%;
position: relative;
width: 100%;
}

.sideBarWrapper{
background-color: white;
height: 100%;
width: 15%;
overflow: hidden;
position: absolute;
float:left;
position: absolute;
left:-15%;
transition: left 0.3s ease;
z-index: 2;
}

.sidebarSpacer{
    height: 4.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    background-color: #1b8b60;
    color:white;
    font-family: 'Figtree', sans-serif;
}

.sideBarWrapper.open {
    left: 0; 
}

.sideBarWrapper img:not(.fridgeLogoWrapper img){

    margin-left: 5%; 
    margin-right: 5%;
    max-width:7%;
    max-height:80%;

}

.fridgeLogoWrapper{

    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00271d;
    

}
.fridgeLogoWrapper img{
    
    height: 80%;

}

.dashboardButtonC{
    background-color: #ffffff;
    color: var(--text-color);
    display: flex;
    height: 6%;
    align-items: center;
    margin-left: 5%;
    color: rgb(0, 63, 0);
}


/* NAV BAR BUTTON COMPONENT TAKEN FROM W3 */
.container {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    left:0;
    margin-left: 1%;
  }
.bar1, .bar2, .bar3 {
    width: 3vh;
    height: 0.3vh;
    background-color: white;
    margin: 0.92vh 0;
    transition: 0.4s;
}
.change .bar1 {
    transform: translate(0, 1.5vh) rotate(-45deg);
}
.change .bar2 {opacity: 0;}

.change .bar3 {
    transform: translate(0, -1vh) rotate(45deg);
}
/* END */


.sideBarWrapper div:not(.fridgeLogoWrapper, .logoutButton, .dashboardButtonC, .sidebarSpacer){
    width:100%;
    height: 7%;
    display: flex;
    align-items: center;
    background-color: white;
    color: rgb(0, 63, 0);
    margin-left: 5%;
}

.sideBarWrapper div:hover:not(.fridgeLogoWrapper, .sidebarSpacer){
    background-color: #F8FFF4;
    cursor: pointer;
}

/*
.logoutButton {
    margin-bottom: 15%;
    position :absolute;
    width: 100%;
    display: flex;
    align-items: center;
    height: 5%;
    color: rgb(0, 63, 0);
}*/

.contentWrapper{
    width:100%;
    height:100%;
    left: 0;
    transition: left 0.5s ease;
}

.contentWrapper.open{
    width:85%;
    height:100%;
    margin-left: 15%;
}

.searchBarWrapper{
    width: 100%;
    height: 7%;
    background-image: url(./components/assets/testbck.png);
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
   
}

.searchBarWrapper input{
    width: 40%;
    height: 45%;
    border: none;
    border-radius: 10px;
    position: absolute;
    left:0;
    margin-left: 30%;
}

.searchBarWrapper p{
    color: white;
    background-color: #1b8b60;
    width: 9%;
    height: 60%;
    position: absolute;
    right:0;
    margin-right: 5%;
    font-size: 2vh;
    display: flex;
    align-items: center;
}

.userIcon{
    height: 80%;
}

.headerWrapper{
    width:100%;
    height: 23%;
    overflow: hidden;
}
.headerWrapper img{
    width:100%;
    height: 100%;
    object-fit: fill;
}

.mainSelectionArea{
    height: 69%;
    width: 100%;
}










/*
.iconHolder{
    width: 100%;
    height: 8%;
    background-color: #EAEAEA;
    display:flex;
    align-items: center;
}
.iconHolder div{
    width: 15%;
    height:50%;
    background-color: white;
    margin-left: 50px;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px rgb(121, 121, 121);
}
.iconHolder div:hover{
    box-shadow: 5px 5px 5px greenyellow;
    cursor: pointer;
}


.mainBodyWrapper{
    width:100%;
    height:65%;
}*/