
html, body, #root, .wrapper {
    height:100%;
    font-family: 'Rokkitt', serif;
  }

p {
    margin: 0px;
    padding:0px;
    font-family: 'Rokkitt', serif;
}

/* Light Theme */
:root {
    --background-color: #65737E;
    --sidebar-color: #4F5B66;
    --sidebardiv-color: #A7ADBA;
    --sidebarchild-color: #C0C5CE;
    --searchbar-color: #343D46;
    --text-color: black;
    --fridgecontent-color: #4F5B66;
    --selecteddivs-color: #C9C5BF;
    --card-color: #A7ADBA;
    --member-color: #4F5B66;

  }
  
  /* Dark theme */
  .dark-theme {
    --background-color: #373737 ;
    --sidebar-color: #1F1F1F;
    --sidebardiv-color: #171717;
    --sidebarchild-color: #3A3A3A;
    --searchbar-color: #000000;
    --text-color: white;
    --fridgecontent-color: #272727;
    --selecteddivs-color: #656464;
    --card-color: #656464;
    --member-color: #2E2E2E;

}

.themeChanger{
    height: 50%;
    margin-left: 10px;
    cursor: pointer;
}

.wrapper{
background-color: var(--background-color) ;
width: 100%;
}

.sideBarWrapper{
background-color: var(--sidebar-color);
height: 100%;
width: 18%;
overflow: hidden;
position: absolute;
float:left
}

.sideBarWrapper img:not(.fridgeLogoWrapper img){

    margin-left: 5%; 
    margin-right: 5%;
    max-width:10%;
    max-height:80%;

}

.fridgeLogoWrapper{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.fridgeLogoWrapper img{
    
    height: 90%;
    width: 75%;

}


.dashboardButtonC{
    background-color: var(--sidebarchild-color);
    color: var(--text-color);
    display: flex;
    height: 6%;
    align-items: center;
}


.sideBarWrapper div:not(.fridgeLogoWrapper, .logoutButton, .dashboardButtonC){
    width:100%;
    height: 7%;
    display: flex;
    align-items: center;
    background-color: var(--sidebardiv-color);;
    color: var(--text-color);
}

.sideBarWrapper div:hover:not(.fridgeLogoWrapper){
    background-color: #F8FFF4;
    cursor: pointer;
}


.logoutButton {
    margin-bottom: 15%;
    position :absolute;
    width: 100%;
    display: flex;
    align-items: center;
    height: 5%;
    bottom:0;
    background-color: #3E362F;
}
.logoutButton p{
    color: white;
}
.contentWrapper{
    width:82%;
    height:100%;
    margin-left: 18%;
}

.searchBarWrapper{
    width: 100%;
    height: 7%;
    background-color: var(--searchbar-color);;
    display:flex;
    align-items: center;
    justify-content: center;
   
}
.searchBarWrapper input{
    width: 95%;
    height: 45%;
    border: none;
    border-radius: 10px;
}
.headerWrapper{
    width:100%;
    height: 24%;
    overflow: hidden;
}
.headerWrapper img{
    width:100%;
    height: 100%;
    object-fit: fill;
}

.mainSelectionArea{
    height: 69%;
    width: 100%;
}










/*
.iconHolder{
    width: 100%;
    height: 8%;
    background-color: #EAEAEA;
    display:flex;
    align-items: center;
}
.iconHolder div{
    width: 15%;
    height:50%;
    background-color: white;
    margin-left: 50px;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px rgb(121, 121, 121);
}
.iconHolder div:hover{
    box-shadow: 5px 5px 5px greenyellow;
    cursor: pointer;
}


.mainBodyWrapper{
    width:100%;
    height:65%;
}*/